@page "/usermgmt/details"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using WebUI.Areas.Identity.Data
@using P7_UrbanRead
@inject WebUI.Data.WebUIContext DBContext
@inject NavigationManager NavigationManager



<PageTitle>Details</PageTitle>

<h3>@usermgmt._Person.FirstName @usermgmt._Person.LastName</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">Identity Id:</dt>
        <dd class="col-sm-10">@usermgmt.Id</dd>
        <dt class="col-sm-2">Username:</dt>
        <dd class="col-sm-10">@usermgmt.UserName</dd>
        <dt class="col-sm-2">Date of Birth:</dt>
        <dd class="col-sm-10">@usermgmt._Person.DateOfBirth</dd>
        <hr />
        <dt class="col-sm-2">E-mail (main):</dt>
        <dd class="col-sm-10">@usermgmt._Person.PrimaryEmail</dd>
        <dt class="col-sm-2">E-mail (second):</dt>
        <dd class="col-sm-10">@usermgmt._Person.SecondaryEmail</dd>
        <dt class="col-sm-2">Phone number (mobile):</dt>
        <dd class="col-sm-10">@usermgmt._Person.MobilePhoneNumber</dd>
        <dt class="col-sm-2">Phone number (home):</dt>
        <dd class="col-sm-10">@usermgmt._Person.MobilePhoneNumber</dd>
        <hr />
        <dt class="col-sm-2">City:</dt>
        <dd class="col-sm-10">@usermgmt._Person.Address.City</dd>

    </dl>

    <div>
        <a href="@($"/usermgmt")">Back to Users List</a>
    </div>
</div>


@code {
    WebUIUser usermgmt;

    [SupplyParameterFromQuery]
    public string Id  { get; set; }


    protected override async Task OnInitializedAsync()
    {
        //usermgmt 

        usermgmt = DBContext.Users.Include(p => p._Person)
                                   .ThenInclude(a => a.Address)
                                   .FirstOrDefaultAsync(u => u.Id == Id)
                                   .Result;
        
        if (usermgmt is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

}
