@page "/BookDetails"
@page "/BookDetails/isbn:{_isbn:long}"

@using WebUI.Data
@using P7_UrbanRead
@inject MainDataService GetBookDetails


<PageTitle>Book: @_book.Title</PageTitle>

<div class="product_description">

    <h2>@_book.Title</h2>
 
    <img class="cover" src="@_book.CoverImgLink" alt="Cover Image" />

    <dl>
        <dt>Subtitle</dt>
        <dd>@_book.Subtitle</dd>
        <dt>Description</dt>
        <dd>@_book.Description</dd>
        <dt>Pages</dt>
        <dd>@_book.TotalPages</dd>
        <dt>Genre</dt>
        <dd>@_book.Genre</dd>
        <dt>Language</dt>
        <dd>@_book.Language</dd>
        <dt>Authors</dt>
        <dd>@foreach (var author in _book.Authors)
            {
                <p>@author</p>
            }
        </dd>
        <dt>Publisher</dt>
        <dd>@_book.PublisherName (@_book.PublishedDate)</dd>
        <dt>ISBNs</dt>
        <dd>@foreach(var num in _book.ISBNS)
            {
                <p>@num</p>
            }
        </dd>
    </dl>

    <iframe class="read_sample" src="@embeddedURL" width="60%" height="900"></iframe>

</div>


@code {
    [Parameter] public long _isbn { get; set; }
    private Book _book = new Book();
    private string embeddedURL => @$"https://books.google.com/books?id={_book.ID}&lpg=PP1&pg=PP1&output=embed";

    protected override void OnInitialized()
    {
        _book = MainDataService.GetBookDetails(_isbn);

    }



}
    