@page "/BookDetails"
@page "/BookDetails/isbn:{_isbn:long}"

@using WebUI.Data
@using P7_UrbanRead
@inject MainDataService GetBookDetails

<header>
    ID: @_isbn
</header>
<main>

   
    <h3>@_book.Title</h3>

    <img class="cover" src="@_book.CoverImgLink" alt="Cover" />

    <p>@_book.Description</p>

    <p>@_book.Genre</p>

    <iframe src="@embeddedURL" width ="100%" height="480"></iframe>


</main>


@code {
    [Parameter] public long _isbn { get; set; }
    private Book _book = new Book();
    private string embeddedURL => @$"https://books.google.com/books?id={_book.ID}&lpg=PP1&pg=PP1&output=embed";

    protected override void OnInitialized()
    {
        _book = MainDataService.GetBookDetails(_isbn);

    }



}
    