@page "/fetchsearchresults"

@using WebUI.Data
@using P7_UrbanRead
@using Microsoft.AspNetCore.Components.QuickGrid
@inject MainDataService SearchBook

<PageTitle>Urban Library Search</PageTitle>

<h1>Urban Library</h1>

<div id="divsearchmenu">

    <div id="divsearchtxtbox">
        <InputText type="search" id="query" name="q" placeholder="Book..." @bind-Value="_searchTopic"></InputText>
        <button class="btn btn-primary" @onclick="FetchResults">Search</button>
        <br />
    </div>

    <div id="divcatergoryradio">
        <InputRadioGroup @bind-Value=_selectedCategory> Categories:

            @foreach(var cat in categories)
            {
                <div class="form-check-inline">
                    <InputRadio class="form-check-input" Value="cat.rdValue"></InputRadio>
                    <label class="form-check-label">@cat.rdLabel</label>
                </div>
            }
        </InputRadioGroup>
        <br />
    </div>
   
    <div id="divfilterradio">
        <InputRadioGroup @bind-Value=_selectedFilter> Filters:

            @foreach(var flt in filters)
            {
                <div class="form-check-inline">
                    <InputRadio class="form-check-input" Value="flt.rdValue"></InputRadio>
                    <label class="form-check-label">@flt.rdLabel</label>
                </div>
            }
        </InputRadioGroup>
        <br />
        <br />
    </div>

</div>


<div id="divsearchresults">

    @if (_isVisible)
    {
        <QuickGrid Items="@_results" Pagination="@pagination">
            
            <TemplateColumn title="" Align="Align.Right">
                <img class="cover" src="@context.CoverImgLink" alt="Cover"/>
            </TemplateColumn>

            <TemplateColumn title="Title" Align="Align.Right">
                @context.Title
            </TemplateColumn>

            <TemplateColumn title="Authors" Align="Align.Center">
                @for(int i = context.Authors.Count -1; i >= 0; i--)
                {
                    var author = context.Authors[i];
                    if (i > 0)
                    {
                        <ul>@author, </ul>
                    }
                    else
                    {
                        <ul>@author</ul>
                    }
                }
            </TemplateColumn>

            <TemplateColumn title="Publisher" Align="Align.Right">
                @context.PublisherName
            </TemplateColumn>

            <TemplateColumn title="ISBNs" Align="Align.Right">
                @context.ISBNS.First()
           </TemplateColumn>
        </QuickGrid>
    }
</div>
<Paginator State="@pagination" />


@code 
{

    List<Book> _searchResults = new List<Book>();
    IQueryable<Book> _results;

    private string _searchTopic;
    private string _selectedCategory = "";
    private string _selectedFilter = "partial";

    private bool _isVisible = false;
    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };

    private void FetchResults()
    {
        if (!String.IsNullOrEmpty(_searchTopic))
        {
            _isVisible = true;
            _searchResults = MainDataService.SearchBook(_searchTopic, _selectedCategory, _selectedFilter);
            _results = _searchResults.AsQueryable();

        }

    }

    List<RadioOptions> categories = new List<RadioOptions>()
    {
        new RadioOptions(){rdLabel = "Subject", rdValue = ""},
        new RadioOptions(){rdLabel = "Title", rdValue = "intitle"},
        new RadioOptions(){rdLabel = "Author", rdValue = "inauthor"},
        new RadioOptions(){rdLabel = "ISBN", rdValue = "isbn"},
    };

    List<RadioOptions> filters = new List<RadioOptions>()
    {
        new RadioOptions(){rdLabel = "All Books", rdValue = "partial"},
        new RadioOptions(){rdLabel = "All eBooks", rdValue = "ebooks"},
        new RadioOptions(){rdLabel = "Only Free eBooks", rdValue = "free-ebooks"},
        new RadioOptions(){rdLabel = "Only Paid eBooks", rdValue = "paid-ebooks"},
    };

    public class RadioOptions
    {
        public string rdLabel { get; set; }
        public string rdValue { get; set; }
    }
    

}