@page "/fetchsearchresults"

@using WebUI.Data
@using P7_UrbanRead
@inject MainDataService SearchBook

<PageTitle>Urban Library Search</PageTitle>

<h1>Urban Library</h1>
<div>
    <form id="ULsearch">
        <p>
            <InputText type="search" id="query" name="q" placeholder="Book..." @bind-Value="_searchTerm"></InputText>
            <button class="btn btn-primary" @onclick="FetchBook">Search</button>
        </p>

        <p>
           <Input type="radio" value="intitle" name="group" checked ="@(_selectedGroup == "intitle")" @onclick="@(()=>_selectedGroup = "intitle")"/>Title <br>
           <Input type="radio" value="isbn" name="group" checked="@(_selectedGroup == "isbn")" @onclick="@(()=>_selectedGroup = "isbn")" />ISBN
           
        </p>

        @_selectedGroup

    </form>
</div>

<div>
    @if (_resultsVisible)
    {
        @if (_searchResults == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Cover</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Authors</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in _searchResults)
                    {
                        <tr>
                            <td>@result.CoverImgLink</td>
                            <td>@result.Title</td>
                            <td>@result.Description</td>
                            <td>@result.Authors</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>

@code {

    private bool _resultsVisible = false;
    private List<Book> _searchResults = new List<Book>();

    private string _searchTerm;
    private string _selectedGroup = "intitle";


    private void FetchBook()
    {
        _resultsVisible = true;
        _searchResults = MainDataService.SearchBook(_searchTerm);
        _searchResults.ToString();

        /*
        List<string> searchResultsToString = new List<string>();
        foreach (Book result in searchResults)
        {
            searchResultsToString.Add(result.ToString());
        }
        */

    }

}
