@page "/fetchbooks"

@using WebUI.Data
@inject MainDataService SearchBook

<PageTitle>Urban Library Search</PageTitle>

<h1>Urban Library</h1>

<p>@searchResults</p>

<form id="ULsearch">
     <input type="search" id="query" name="q" placeholder="Book...">
     <button class="btn btn-primary" onclick="">Search</button>
</form>


@if (searchResults == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Description</th>
                <th>Authors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in searchResults)
            {
                <tr>
                    <td>@result.Cover</td>
                    <td>@result.Title</td>
                    <td>@result.Description</td>
                    <td>@result.Authors</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private List<string> searchResults = new List<string>();

    public void FetchBook()
    {
        searchResults = MainDataService.SearchBook();


    }
    
}
