@page "/fetchsearchresults"

@using WebUI.Data
@using P7_UrbanRead
@using Microsoft.AspNetCore.Components.QuickGrid
@inject MainDataService SearchBook

<PageTitle>Urban Library Search</PageTitle>

<h1>Urban Library</h1>

<div id="divsearchmenu">

    <div id="divsearchtxtbox">
        <InputText type="search" id="query" name="q" placeholder="Book..." @bind-Value="_searchTopic"></InputText>
        <button class="btn btn-primary" @onclick="FetchResults">Search</button>
        <br />
    </div>

    <div id="divcatergoryradio">
        <InputRadioGroup @bind-Value=_selectedCategory> Categories:

            @foreach(var cat in categories)
            {
                <div class="form-check-inline">
                    <InputRadio class="form-check-input" Value="cat.rdValue"></InputRadio>
                    <label class="form-check-label">@cat.rdLabel</label>
                </div>
            }
        </InputRadioGroup>
        <br />
    </div>
   
    <div id="divfilterradio">
        <InputRadioGroup @bind-Value=_selectedFilter> Filters:

            @foreach(var flt in filters)
            {
                <div class="form-check-inline">
                    <InputRadio class="form-check-input" Value="flt.rdValue"></InputRadio>
                    <label class="form-check-label">@flt.rdLabel</label>
                </div>
            }
        </InputRadioGroup>
        <br />
        <br />
    </div>

</div>

<div id="divsearchresults">

    @if (_isVisible)
    {
        <QuickGrid Items="@_results">
            <TemplateColumn title="Cover">
                <img class="cover" src="@context.CoverImgLink" />
            </TemplateColumn>
            <TemplateColumn title="Title">@context.Title</TemplateColumn>
            <TemplateColumn title="Authors">
                @foreach (var aut in context.Authors){
                    @aut <br />
                }
            </TemplateColumn>
            <TemplateColumn title="ISBN">@context.ISBNS.First()</TemplateColumn>
        </QuickGrid>
    }

</div>

@code 
{

    List<Book> _searchResults = new List<Book>();
    IQueryable<Book> _results;

    private string _searchTopic;
    private string _selectedCategory = "";
    private string _selectedFilter = "partial";
    private bool _isVisible = false;


    private void FetchResults()
    {
        if (!String.IsNullOrEmpty(_searchTopic))
        {
            _isVisible = true;
            _searchResults = MainDataService.SearchBook(_searchTopic, _selectedCategory, _selectedFilter);
            _results = _searchResults.AsQueryable();

        }

    }

    List<RadioOptions> categories = new List<RadioOptions>()
    {
        new RadioOptions(){rdLabel = "Subject", rdValue = ""},
        new RadioOptions(){rdLabel = "Title", rdValue = "intitle"},
        new RadioOptions(){rdLabel = "Author", rdValue = "inauthor"},
        new RadioOptions(){rdLabel = "ISBN", rdValue = "isbn"},
    };

    List<RadioOptions> filters = new List<RadioOptions>()
    {
        new RadioOptions(){rdLabel = "All Books", rdValue = "partial"},
        new RadioOptions(){rdLabel = "All eBooks", rdValue = "ebooks"},
        new RadioOptions(){rdLabel = "Only Free eBooks", rdValue = "free-ebooks"},
        new RadioOptions(){rdLabel = "Only Paid eBooks", rdValue = "paid-ebooks"},
    };

    public class RadioOptions
    {
        public string rdLabel { get; set; }
        public string rdValue { get; set; }
    }
    

}